.nav-bar
{
    background-color:rgb(26, 16, 70);
    color: white;
}
.navbar
{
    background-color:rgb(26, 16, 70);
}
/* .slide-bar
{
    margin-bottom: 70%;
    margin-left: 0%;
} */
#bgimage
{
    background-color:white;

}
/* .nav-link
{
    
} */
.scroll
{
    color:rgb(26, 16, 70) ;
    scroll-margin: auto;
    background-color: whitesmoke;
    font-style: italic;
}
#marquee-bar{
    height: 100%;
    
    background-color:#ffffff00;
    margin-bottom:20%;
    scroll-padding-left: 120%;
    scroll-padding-right:120%;
    transition-delay: 1ms;
    

}
#districtbody
{

    background-size: cover; 

}
.thiru
{
     
    color: white;
    font-size: 120%;
}
#thirubg
{
    background-size: cover;
}
.ul{
    color: red;
}
#touristhead
{
   color: white;
   font-style: italic;
   font-size: 130%;

}
#loginhead
{
    color:white;
    font-style: italic;
}
.mb-3
{
    color: white;
}
.px-4 py-3{
    padding: 50%;
    margin-left: 100%;
    margin-right: 90%;
}
.dropdown-divider
{
    color: white;
}

#pic{
    height: fit-content;
}
.signupform
{
    color: white;
    padding:10% ;
    
    
    /* margin-bottom: 30%;  */
    /* margin-right: 30%; */
    
    
    
    
}
.sub{
    text-align: center;
    font-style: italic;
    color: rgb(26, 16, 70);
}
.row{
     display: flex; 
    flex-wrap: wrap; 
    padding: 0.4px; 
}
 .column{
    flex: 10%; 
    padding: 0px;
}
 .column img
{
    margin-top: 8px;
    vertical-align: middle;
} 
#kerala{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: white;
    font-size: 30px;
}
     
 

